* {
    background-color: #e8d8c4;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 380px;
    height: auto;
    max-width: 70%;
}

.center,
.main {
    margin: 0 auto;
    display: block;
}

.main {
    width: 600px;
    height: auto;
    border: 2px solid black;
}

.center {
    border-radius: 20px;
}

.page {
    display: block;
    text-align: center;
    font-family: Calibri, 'sans serif';
    font-size: large;
    text-decoration: none;
    color: white;
    border: 3px solid #561c24;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    background-color: rgba(109, 41, 50, 0.5);
}

a:hover {
    text-decoration: none;
    padding: 18px;
}

.description {
    border: 3px solid #561c24;
    padding: 25px;
    border-radius: 25px;

}