* {
    background-color: #e5c5bd;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}